_PYVERSION="$((python --version 2>/dev/null || python3 --version) | awk '{print $2}')"
_VENVABSPATH="$PWD/.venv.$_PYVERSION"
test -e "$_VENVABSPATH" || $HOME/.local/bin/uv venv --seed --python $_PYVERSION "$_VENVABSPATH"
export PATH="$_VENVABSPATH/bin:$PATH"
